
<div class="container mt-5 pt-5">
    <div class="col-lg-8 mt-5 pt-5">
                    <h3>Update address</h3>
                    {{#each address}}
                    <form action="/edit-address" class="row contact_form" id="address-form" method="post">
                        <div class="col-md-6 form-group p_star">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" id="first" value="{{this.address.fname}}"name="fname">
                            {{!-- <span class="placeholder"></span> --}}
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label for="name">Last Name</label>
                            <input type="text" class="form-control" id="last" value="{{this.address.lname}}" name="lname">
                            {{!-- <span class="placeholder"></span> --}}
                        </div>
                        
                        

                        <div class="col-md-12 form-group p_star">
                            <label for="number">Address</label>
                            <input type="text" class="form-control" id="add1" value="{{this.address.address}}" name="address">
                            {{!-- <span class="placeholder" data-placeholder="Address line 01"></span> --}}
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <label for="number">Town/City</label>
                            <input type="text" class="form-control" id="town"  value="{{this.address.town}}" name="town">
                            {{!-- <span class="placeholder" data-placeholder="Address line 02"></span> --}}
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <label for="number">State</label>
                            <input type="text" class="form-control" id="state" value="{{this.address.state}}"  name="state">
                            {{!-- <span class="placeholder" data-placeholder="Address line 02"></span> --}}
                        </div>

                        <div class="col-md-12 form-group">
                            <label for="Postcode">Post code</label>
                            <input type="number" class="form-control" id="zip" value="{{this.address.zip}}" name="zip">

                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label for="number">Email</label>
                            <input type="text" class="form-control" id="email" value="{{this.address.email}}" name="email">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label for="number">Phone number</label>
                            <input type="number" class="form-control" id="number" value="{{this.address.number}}" name="number">
                             <input type="text" name="userId" value="{{this.address.userId}}" hidden>
                            <input type="text" name="_id" value="{{this.address._id}}" hidden>
                        </div>
                        
                         </div>
                          <div class=" text-center pt-3">
                    <input type="submit" class="btn primary-btn"  value="Update">
                </div>
            </form>
            {{/each}}
               
                
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
        $('#address-form').validate({
            rules: {
               
                first: {
                    required: true,
                    minlength: 4,
                    maxlength: 15
                },
                last: {
                    required: true,
                    minlength: 4,
                    maxlength: 15
                },
                email: {
                    required: true,
                    minlength: 10,
                    maxlength: 50,
                    email: true

                },
                add1: {
                    required: true,
                    minlength: 5
                },
                town: {
                    required: true,
                    minlength: 5
                },
                state: {
                    required: true,
                    number: true,
                    minlength: 6,
                    maxlength: 6
                },
                number: {
                    required: true,
                    number: true,
                    minlength: 10,
                    maxlength: 10,
                },
                zip: {
                    required:true,
                    minlength:6
                }
            },
        })
    })
</script>
<script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>